node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

coverage/*

.scannerwork/*


settings.json

.prettierrc
.vscode/

**/*/sonar-scan.js

*coverage*

coverage/**/*
notes.txt

# Playwright
/playwright/.auth/
/playwright-report
